<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Danh sách đơn hàng</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Thống kê các mặt hàng</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Tên đơn hàng</th>
                    <th>Trạng thái</th>
                    <th>Giá</th>
                    <th>Phí vận chuyển</th>
                    <th>Mã khách hàng</th>
                    <th> </th>
                  </tr>
                  </thead>
                  <tbody>
                   {{#each orders}}
                  <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.price}}đ</td>
                    <td>{{this.shipping_fee}}đ</td>
                    <td>{{this.customer_id}}</td>
                    <td class="project-actions text-md-center">
                      <form action="/order/{{product._id}}?_method=PUT" method="POST">
                        <a class="btn btn-info btn-sm" href="/order/edit-product/{{this._id}}">
                          <i class="fas fa-pencil-alt">
                          </i>
                          Edit
                        </a>
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                      </form>
                    </td>
                  </tr>
                  {{/each}}
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
