<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Điền thông tin sản phẩm</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <form action="/products/{{product._id}}?_method=PUT" method="POST">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputId">Mã sản phẩm</label>
                <input value="{{product._id}}" type="text" id="inputId" name="_id" class="form-control" readonly>
              </div>
              <div class="form-group">
                <label for="inputName">Tên sản phẩm</label>
                <input value="{{product.name}}" type="text" id="inputName" name="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputStock">Số lượng tồn</label>
                <input value="{{product.stock}}" type="number" id="inputStock" name="stock" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputTaxId">Mã số thuế</label>
                <input value="{{product.tax_id}}" type="text" id="inputTaxId" name="tax_id" class="form-control"
                  readonly>
              </div>
              <div class="form-group">
                <label for="inputBranchId">Mã chi nhánh</label>
                <input value="{{product.branch_id}}" type="text" id="inputBranchId" name="branch_id" class="form-control">
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Giá cả</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputPrice">Giá niêm yết</label>
                <input value={{product.price}} type="number" id="inputPrice" name="price" class="form-control">
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="/products" class="btn btn-secondary">Hủy</a>
          <input type="submit" value="Cập nhật" class="btn btn-success float-right">
        </div>
      </div>
    </form>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->